.arrumatex {
    font-family: 'Lucida Sans';
    background-color: #0094ff;
    font-size: 50px;
}
body {
    height: 100vh;
    background-size: cover;
    background-image: url('https://media1.tenor.com/images/edc89b69d3da8f2faffe2246c6471c2b/tenor.gif?itemid=4027741.gif');
}

/*https://media0.giphy.com/media/l1J9Dsrjr13I6d84M/giphy.gif */
